body{
    background: grey;
    .container{
        .delete{
        height: 65px;
        width: 156px;
        background: yellow;
        position: absolute;
        top: 30px;
        right: 473px;
        border-radius: 16px;
        cursor: pointer;
        h1{
            text-align: center;
            color: blue;
            line-height: 1;
        }
    }

        width: 600px;
        margin: 0px auto;

        input{
            width: 296px;
            height: 30px;

            margin-left: 150px;
            margin-bottom: 30px;
            margin-top: 35px;
        }
        .wrap{
            display: grid;
            grid-template-columns: repeat(3,100px);
            justify-content: center;
            grid-gap: 15px;
            
            .number{
                background: blue;
                height: 100px;
                cursor: pointer;

                h1{
                    text-align: center;
                    color: white;
                    
                }
            }
            .end{
                grid-column-start: 2;
            grid-column-end:3;
            }
        }
       
    }
}